<div class="container">
  <h2>iPhone 12</h2>
  <img class="device-img"
    src="https://i.blogs.es/adf267/image-2020-10-13-20-20-17/650_1200.jpg"
    alt="iPhone 12">
  <p class="device-description"> Con soporte para 5G, el iPhone 12 incluye una pantalla Super Retina XDR OLED, Ceramic Shield para mayor resistencia, y cámaras duales mejoradas para captura de imágenes con poca luz.</p>
  <a class="link-button" href="https://www.apple.com/iphone/" target="_blank">Comprar iPhone 12</a>
  <button class="#">Volver a Inicio</button>
</div>