<div class="container">
  <h2>iPhone 13</h2>
  <img class="device-img"
    src="https://i.blogs.es/adf267/image-2020-10-13-20-20-17/650_1200.jpg"
    alt="iPhone 13">
  <p class="device-description">Con un diseño más compacto y eficiente, el iPhone 13 presenta mejoras en el rendimiento del chip A15 Bionic, mayor duración de batería y una cámara dual diagonal con estabilización óptica de imagen.</p>
  <a class="link-button" href="https://www.apple.com/iphone/" target="_blank">Comprar iPhone 13</a>
  <button class="#">Volver a Inicio</button>
</div>